<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
     <title>demo</title>
     <link rel="stylesheet" type="text/css" href="{{asset('')}}css/top.css"/>
     <link rel="stylesheet" type="text/css" href="{{asset('')}}css/hearder.css"/>
     <link rel="stylesheet" type="text/css" href="{{asset('')}}css/menutab.css"/>
     <link rel="stylesheet" type="text/css" href="{{asset('')}}css/leftcontent.css"/>
     <link rel="stylesheet" type="text/css" href="{{asset('')}}css/centercontent.css"/>
     <link rel="stylesheet" type="text/css" href="{{asset('')}}css/rightcontent.css"/>
     <link rel="stylesheet" type="text/css" href="{{asset('')}}css/footer.css"/>
     <link rel="stylesheet" type="text/css" href="{{asset('')}}css/navigation.css"/>
</head>
<body>
   
    <div class="main">
     <!-- TOP: bắt đầu -->
         <div class="top">
           <div class="search">
                	<div class="search_text"><a href="#">Tìm kiếm</a></div>
                    <input type="text" class="search_input" name="Tìm kiếm" />
                    <input type="image" src="{{asset('')}}images/search.gif" class="search_bt" />
           </div>  
         </div>
         <!-- TOP: kết thúc -->
         
          <!-- header: bắt đầu -->
      <div class="hearder">
               <div id="logo"><img src="{{asset('')}}images/logo.png.png" alt="images"></div>
               <div class="slider">
                   <div class="top_phancach"><img src="{{asset('')}}images/top_phancach.png" alt="images"></div>
                   <div class="slide_noidung">
                        <div class="noidung">
                             <img src="{{asset('')}}images/đt_ip6plus.jpg" alt="images" class="slide_img">
                          <div class="slide_chitiet">
                              <div class="slide_tieude">Apple iPhone 6 (Gold)</div>
                              <div class="slide_text"> Màn hình:	4.7Inch. Tốc độ CPU:	 Apple A8, 2x1.4Ghz. Bộ nhớ trong(ROM):	16Gb. HĐH:iOS 8. Pin: 1810 mAh. Bảo hành: Chính hãng 12 tháng. Giá bán: 15.490.000 VNĐ </div>
                               <a href="#" class="chitiet">chi tiết</a>
                          </div>
                    </div>
                    <div class="clr"></div>
                    <div class="phantrang">
                         <span class="current">1</span>
                         <a href="#">5</a>
                         <a href="#">4</a>
                         <a href="#">3</a>
                         <a href="#">2</a>  
                    </div>
                 </div>
                 <div class="top_phancach"><img src="{{asset('')}}images/top_phancach.png" alt="images"></div>
            </div> 
       </div>      
           
           <div class="clr"></div>
           
           <!-- header:kết thúc -->
   
         <!--------------------------------- content:bắt đầu ------------------------>
        <div class="content">
             <!-- MENU -->
             <div id="menu_tab">
                 <div class="left_menu_corner"></div>
                 <div class="menu">
                       <ul>
                           <li><a href="index.blade.html" id="tc">Trang chủ</a></li>
                           <li class="chia"></li>
                           <li><a href="Sanpham.html" id="dt">Sản phẩm</a>
                               <ul>
                                    <li><a href="apple.html">Apple</a></li>
                                    <li><a href="samsung.html">Samsung</a></li>
                                    <li><a href="nokia.html">Nokia</a></li>
                                    <li><a href="sony.html">Sony</a></li>
                                    <li><a href="htc.html">HTC</a></li>
                                    <li><a href="lg.html">LG</a></li>
                                    <li><a href="oppo.html">OPPO</a></li>
                                    <li><a href="lenovo.html">Lenovo</a></li>
                                    <li><a href="mobell.html">Mobell</a></li>
                                    <li><a href="mobiistrar.html">Mobiistar</a></li>
                                    <li><a href="masstel.html">Masstel</a></li>
                                    <li><a href="asus.html">Asus</a></li>
                               </ul>
                          </li>
                          <li class="chia"></li>
                          <li><a href="baogia.html" id="pk">Báo giá</a></li>
                          <li class="chia"></li>
                          <li><a href="tintuc.html" id="tt">Tin tức</a></li>
                          <li class="chia"></li>
                          <li><a href="lienhe.html" id="lh">Liên hệ</a></li>
                          <li class="chia"></li>
                          <li><a href="gioithieu.html" id="gt">Giới thiệu</a></li>
                      </ul>
                 </div>
                 <div class="right_menu_corner"></div>
             </div>
             
              
              
             <!---------------navigation------------>  
               <div class="navigation"> Navigation: <a href="index.blade.html">Trang chủ</a>&raquo; <a href="Sanpham.html">Sản phẩm</a>&raquo; <span class="current">Asus</span> </div>
             
             <!-------------- left content----------------->
             <div class="left_content">
             <!------ thương hiệu------------>
                 <div class="title_box">Thương Hiệu</div>
                 <ul class="left_menu">
                      <li class="le"><a href="apple.html">Apple</a></li>
                      <li class="chan"><a href="samsung.html">Samsung</a></li>
                      <li class="le"><a href="nokia.html">Nokia</a></li>
                      <li class="chan"><a href="sony.html">Sony</a></li>
                      <li class="le"><a href="htc.html">HTC</a></li>
                      <li class="chan"><a href="lg.html">LG</a></li>
                      <li class="le"><a href="oppo.html">OPPO</a></li>
                      <li class="chan"><a href="lenovo.html">Lenovo</a></li>
                      <li class="le"><a href="mobell.html">Mobell</a></li>
                      <li class="chan"><a href="mobiistrar.html">Mobiistar</a></li>
                      <li class="le"><a href="masstel.html">Masstel.html</a></li>
                      <li class="chan"><a href="asus.html">Asus</a></li> 
                 </ul>
                 
                 <!----------Sản phẩm đặc biệt--------->
                 <div class="title_box">Sản Phẩm Đặc Biệt</div>
                 <div class="border_box">
                       <div class="Sanpham_tieude"><a href="#">Samsung Galaxy S7</a></div>
                       <div class="Sanpham_image"><a href="#"><img src="{{asset('')}}images/điệnthoại.jpg" alt="điện thoại"/></a></div>
                       <div class="Sanpham_gia">
                            <span class="giam">15.990.000đ</span>
                            <span class="gia">14.990.000đ</span>
                       </div>
                 </div>
                 
                  <!----------newsletter--------->
                 <div class="title_box">Newsletter</div>
                 <div class="border_box">
                       <input type="text" name="Newsletter" class="Newsletter_input" value="" placeholder="your email"/>
                       <a href="#" class="thamgia">Tham gia</a>
                 </div>
                 
                 
                   <!----------banner--------->
                   <div class="banner_adds">
                   <a href="#"><img src="{{asset('')}}images/quảng cáo.jpg" alt="banner"/></a>
                   </div>
            
             </div>
             
             <!-------------- center content----------------->
             
             <div class="center_content">
                  <div class="ap">
                      <div class="ap_main">
                          <div class="ap_tieu_de">
                               <span class="hot"></span>
                               <h1>ASUS</h1>
                          </div>
                          
                           <!----------sp--------->
                          <div class="clear"></div>
                          <div class="danh_sach_sp">
                              <div class="sp1">
                                  <div class="thong_tin">
                                      <div class="image_sp">
                                          <a href="#"><img src="{{asset('')}}images/asus-zenfone-2-laser-lte-400x460-cp.png" alt="apple" /></a>
                                      </div>
                                      <div class="nd_sp">
                                           <div class="ten_sp">
                                                <a href="#">Asus Zenfone 2 Laser 5.0" LTE</a>
                                           </div>
                                           <div class="tom_tat">
                                            - Màn hình:	IPS LCD, 5", HD. - Hệ điều hành:	Android 5.0 (Lollipop). - Camera sau: 13 MP. - Camera trước: 5 MP. - CPU: Qualcomm Snapdragon 410 4 nhân 64-bit, 1.2 GHz. - RAM: 2 GB. - Bộ nhớ trong: 16 GB. - Hỗ trợ thẻ nhớ: MicroSD, 128 GB. - Thẻ SIM: 2 SIM 2 sóng, Micro SIM. - Kết nối: WiFi, 3G, 4G LTE Cat 4. - Dung lượng pin: 2400 mAh.
                                           </div>
                                           <div class="gia">
                                               <span class="gia">Giá: 3.990.000đ</span>
                                           </div>
                                      </div>
                                  </div>
                                  
                              </div>
                          </div>
                          
                         
                          <div class="clear"></div>
                          <div class="danh_sach_sp">
                              <div class="sp1">
                                  <div class="thong_tin">
                                      <div class="image_sp">
                                          <a href="#"><img src="{{asset('')}}images/asus_max-1.jpg" alt="apple" /></a>
                                      </div>
                                      <div class="nd_sp">
                                           <div class="ten_sp">
                                                <a href="#">Asus Zenfone Max</a>
                                           </div>
                                           <div class="tom_tat">
                                           - Màn hình :	5.5 inch (1280 x 720 pixels). - Camera: Chính: 13.0 MP, Phụ: 5.0 MP. - Bộ nhớ trong: 16 GB. - Hệ điều hành: Android 5.0 Lollipop. - Chipset: Qualcomm MSM8916 Snapdragon 410. - CPU: Quad-core 1.2 GHz. - GPU: Adreno 306. - Kích thước: 156 x 77.5 x 10.55 mm.
                                           </div>
                                           <div class="gia">
                                               <span class="gia">Giá: 4.490.000đ</span>
                                           </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          
                          
                          <div class="clear"></div>
                          <div class="danh_sach_sp">
                              <div class="sp1">
                                  <div class="thong_tin">
                                      <div class="image_sp">
                                          <a href="#"><img src="{{asset('')}}images/asus_zenfone2-anh-hot.png" alt="apple" /></a>
                                      </div>
                                      <div class="nd_sp">
                                           <div class="ten_sp">
                                                <a href="#">Asus Zenfone 2 - ZE500CL 1.6 G/ 2GB/ 16GB</a>
                                           </div>
                                           <div class="tom_tat">
                                            - Màn hình:	5.0 inch (1280 x 720 pixels). - Camera: Chính 8.0 MP, Phụ: 2.0 MP. - Bộ nhớ trong:	16 GB. - Hệ điều hành:	Android 5.0 (Lollipop). - Chipset: Intel Atom Z2560. - CPU: Dual-core 1.6 GHz. - GPU: PowerVR SGX544MP2. - Kích thước: 148.1 x 71.5 x 10.9 mm.
                                           </div>
                                           <div class="gia">
                                               <span class="gia">Giá: 3.690.000đ</span>
                                           </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          
                          
                          <div class="clear"></div>
                          <div class="danh_sach_sp">
                              <div class="sp1">
                                  <div class="thong_tin">
                                      <div class="image_sp">
                                          <a href="#"><img src="{{asset('')}}images/asus_zenc-b.jpg" alt="apple" /></a>
                                      </div>
                                      <div class="nd_sp">
                                           <div class="ten_sp">
                                                <a href="#">Asus Zenfone C - A451CG</a>
                                           </div>
                                           <div class="tom_tat">
                                            - Màn hình:	4.5 inch (480 x 854 pixels). - Camera: Chính 5.0 MP, Phụ: VGA. - Bộ nhớ trong:	8 GB. - Hệ điều hành:	Android 4.4 (KitKat). - Chipset: Intel Atom Z2520. - CPU: Dual-core 1.2 GHz. - GPU: PowerVR SGX544. - Kích thước: 136.5 x 67 x 10.9 mm.
                                           </div>
                                           <div class="gia">
                                               <span class="gia">Giá: 1.990.000đ</span>
                                           </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          
                          
                          <div class="clear"></div>
                          <div class="danh_sach_sp">
                              <div class="sp1">
                                  <div class="thong_tin">
                                      <div class="image_sp">
                                          <a href="#"><img src="{{asset('')}}images/asus_go-b1.jpg" alt="apple" /></a>
                                      </div>
                                      <div class="nd_sp">
                                           <div class="ten_sp">
                                                <a href="#">Asus Zenfone Go 4.5 ZB452KG</a>
                                           </div>
                                           <div class="tom_tat">
                                           - Màn hình: 4.5 inch, FWVGA 854×480. - Camera: Chính: 5.0 MP, Phụ: 0.3 MP. - Hệ điều hành:	Android 5.1 Lollipop. - Chipset: Qualcomm . - CPU: Dual-core 1.0 GHz.
                                           </div>
                                           <div class="gia">
                                               <span class="gia">Giá: 1.190.000đ</span>
                                           </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <!------------------->
                          
                      </div>
                  </div>
             </div>
                    
                    
               <!-------------- right content----------------->
             
             <div class="right_content">
             
             <!-------- video-------->
             
                  <div class="video">
                        <video src="video/Video giới thiệu Samsung GALAXY S5.mp4" controls="controls" width="196" height="120" poster="images/pt_video.png">
                        </video>
                  
                  </div>
             
             <!--------tin tức------>
           
                  <div class="title_box">TIN TỨC</div>
                    
                       <div class="border__box">
                           <div class="noi_dung">
                                <img  src="{{asset('')}}images/Sony-Xperia-Z1S-3-5311-1385002038.jpg" alt="images" class="img">
                                <div class="chi_tiet">
                                     <div class="tieu_de">Sony Xperia Z1 mini chụp hình 20 megapixel sắp ra mắt</div>
                                     <a href="tintuc1.html" class="chi__tiet">chi tiết</a>
                                </div>
                           </div>
                     <div class="border__box">
                           <div class="noi_dung">
                                <img src="{{asset('')}}images/tin tức 2.jpg" alt="images" class="img">
                                <div class="chi_tiet">
                                     <div class="tieu_de">Thị trường smartphone phân khúc giá rẻ thêm nhiều lựa chọn hấp dẫn</div>
                                     <a href="tintuc2.html" class="chi__tiet">chi tiết</a>
                                </div>
                           </div>
                   <div class="border__box">
                           <div class="noi_dung">
                                <img src="{{asset('')}}images/tin-3.jpg" alt="images" class="img">
                                <div class="chi_tiet">
                                     <div class="tieu_de">Bí ẩn sau màn hình full HD của Lumia 1520</div>
                                     <a href="tintuc3.html">chi tiết</a>
                                </div>
                          </div>

                 </div>
                 
            </div>
            
             <!----------Sản phẩm đặc biệt--------->
                 <div class="title_box">Sản Phẩm Đặc Biệt</div>
                 <div class="border_box">
                       <div class="Sanpham_tieude"><a href="#">Điện thoại Microsoft Lumia 950 XL</a></div>
                       <div class="Sanpham_image"><a href="#"><img src="{{asset('')}}images/microsoft-lumia-950-xl-400x460.png" alt="điện thoại"/></a></div>
                       <div class="Sanpham_gia">
                            <span class="giam">15.990.000đ</span>
                            <span class="gia">13.990.000đ</span>
                       </div>
                 </div>
            
                      
            </div>       
                   
             </div>
             
        </div>
        
         <!------------------------------------- content:kết thúc ---------------------------------------->
         
         <div class="clr"></div>
         <!------------------------------------- footer:bắt đầu---------------------------------------->
        
        <div class="footer">
            	<div class="left_footer">
            		<img src="{{asset('')}}images/footer_logo.png" alt="Image footer" />
            	</div>
                
                <div class="center_footer">
            		Copyright © 2016 tieuyet. All Rights Reserved. Gmail:lucngocchien@gmail.com <br/>
            	</div>
                
                <div class="right_footer">
            		<a href="index.blade.html">Trang chủ</a>
                    <a href="lienhe.html">liên hệ</a>
            	</div>
         </div>
        
        <!------------------------------------- footer:kết thúc ---------------------------------------->
    </div>
</body>
</html>



